{% extends 'base.html.twig' %}

{% block title %}Quizz Fiverr{% endblock %}

{% block body %}
    <div class="container-fluid w-100 h-100 gradient-color">
        <div class="row m-5 align-content-center ">
            <div class="col-6 justify-content-center ">
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white ">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.0.content }}
                        </p>
                    </div>
                    <div class="row text-center justify-content-center text-white check-radio">


                        <a href="#Question2" data-choice="{{ choices.0.choice1 }}" data-path="{{ path('quizz_choice', {id: 1 })}}" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response answers">

                            <h3>{{ choices.0.choice1 }}</h3>
                                <div class="w-100 h-100 form-check-input ">
                                </div>
                        </a>



                        <a href="#Question2" class=" col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response answers">

                            <h3>{{ choices.0.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>


                        <a href="#Question2" class=" col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response answers">

                            <h3>{{ choices.0.choice3 }}</h3>
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                            </div>
                        </a>


                        <a href="#Question2"  class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response answers">
                            <h3>{{ choices.0.choice4 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Q2 -->
                <a id="Question2"></a>
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 2
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.1.content }}
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <a href="#Question3" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.1.choice1 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question3" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.1.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question3" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.1.choice3 }}</h3>
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                            </div>
                        </a>
                        <a href="#Question3" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">

                            <h3>{{ choices.1.choice4 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Q3 -->
                <a id="Question3"></a>
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 3
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.2.content }}
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <a href="#Question4" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.2.choice1 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                        <a href="#Question4" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.2.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question4" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.2.choice3 }}</h3>
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                            </div>
                        </a>

                        <a href="#Question4" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.2.choice4 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Q4 -->
                <a id="Question4"></a>
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 4
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.3.content }}
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">
                        <a href="#Question5" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.3.choice1 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question5" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.3.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question5" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.3.choice3 }}</h3>
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                            </div>
                        </a>

                        <a href="#Question5" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.3.choice4 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <!--  Q5 -->
                <a id="Question5"></a>
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 5
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.4.content }}
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <a href="#Question6" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.4.choice1 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question6" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.4.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question6" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.4.choice3 }}</h3>
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                            </div>
                        </a>

                        <a href="#Question6" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.4.choice4 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Q6 -->
                <a id="Question6"></a>
                <div class="question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 6
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.5.content }}
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <a href="#Question7" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.5.choice1 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question7" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.5.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Q7 -->
                <a id="Question7"></a>
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 7
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.6.content }}
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">
                        <a href="#Question8" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <img src="{{ choices.6.choice1 }}" class="img-fluid">
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question8" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <img src="{{ choices.6.choice2 }}" class="img-fluid">
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>

                <!-- Q8 -->
                <a id="Question8"></a>
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 8
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.7.content }}
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <a href="#Question9" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.7.choice1 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question9" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.7.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Q9 -->
                <a id="Question9"></a>
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 9
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.8.content }}
                            <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2016/02/14/12/duck-rabbit.png" class="img-fluid mt-2">
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <a href="#Question10" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.8.choice1 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#Question10" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.8.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <!-- Q10 -->
                <a id="Question10"></a>
                <div class="question" >
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 10
                        </h1>
                        <p class="text-break px-5 ">
                            {{ questions.9.content }}
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <a href="#QuestionResult" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.9.choice1 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>

                        <a href="#QuestionResult" class="col-md-5  w-50  mr-2 mb-2 pt-2 shadow checkbox-radio response">
                            <h3>{{ choices.9.choice2 }}</h3>
                            <div class="w-100 h-100 form-check-input ">
                            </div>
                        </a>
                    </div>
                </div>
                <a id="QuestionResult"></a>
                <h2 class="mb-5 text-white">Results of the quizz</h2>
                <div class="align-self-center print-result p-3">
                    <div class="row">
                        <div class=" col-3">
                            <h3 class="text-center"> Question 1</h3>
                        <div class="d-flex align-items-end">
                            <div class="rquestionsA m-3 mt-5 ">
                                <p> 60%</p>
                            </div>
                            <div class="rquestionsB m-3 mt-5 ">
                                <p> 40%</p>
                            </div>
                           </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 2</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 3</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 4</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 5</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 6</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 7</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 8</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 9</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-3">
                            <h3 class="text-center"> Question 10</h3>
                            <div class="d-flex align-items-end">
                                <div class="rquestionsA m-3 mt-5 ">
                                    <p> 60%</p>
                                </div>
                                <div class="rquestionsB m-3 mt-5 ">
                                    <p> 40%</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
        </div>

        <div class="col-6 pt-3">
            <div class="example-wrapper sticky-top ">
                <!-- clouds -->
                <div class="container-planet">
                    <!-- stars -->
                    <div class="star star-1"></div>
                    <div class="star star-2"></div>
                    <div class="star star-3"></div>
                    <!-- clouds -->
                    <div class="">
                        <div class="cloud-group-1">
                            <div class="cloud cloud-1"></div>
                            <div class="cloud cloud-2"></div>
                            <div class="cloud cloud-3"></div>
                            <div class="cloud cloud-4"></div>
                            <div class="cloud cloud-5"></div>
                            <div class="cloud cloud-6"></div>
                        </div>
                        <div class="cloud-group-2">
                            <div class="cloud cloud-1"></div>
                            <div class="cloud cloud-2"></div>
                            <div class="cloud cloud-3"></div>
                            <div class="cloud cloud-4"></div>
                            <div class="cloud cloud-5"></div>
                            <div class="cloud cloud-6"></div>
                        </div>
                        <div class="cloud-group-3">
                            <div class="cloud cloud-1"></div>
                            <div class="cloud cloud-2"></div>
                            <div class="cloud cloud-3"></div>
                            <div class="cloud cloud-4"></div>
                            <div class="cloud cloud-5"></div>
                            <div class="cloud cloud-6"></div>
                        </div>
                    </div>
                    <!-- 1st orbit -->
                    <div class="orbit orbit1-1"><img class="avatar" src="{{ asset('build/images/avatars/cs1048486361028912.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit1-2"><img class="avatar" src="{{ asset('build/images/avatars/cs10188651804540743.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit1-3"><img class="avatar" src="{{ asset('build/images/avatars/cs11010345522393046.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit1-4"><img class="avatar" src="{{ asset('build/images/avatars/cs100630750052269087.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit1-5"><img class="avatar" src="{{ asset('build/images/avatars/cs103822919467497853.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit1-6"><img class="avatar" src="{{ asset('build/images/avatars/cs1008511162926380344.png') }}" alt="avatar1"></div>

                    <!-- 2nd orbit -->
                    <div class="orbit orbit2-1"><img class="avatar" src="{{ asset('build/images/avatars/cs1048486361028912.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit2-2"><img class="avatar" src="{{ asset('build/images/avatars/cs10188651804540743.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit2-3"><img class="avatar" src="{{ asset('build/images/avatars/cs11010345522393046.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit2-4"><img class="avatar" src="{{ asset('build/images/avatars/cs100630750052269087.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit2-5"><img class="avatar" src="{{ asset('build/images/avatars/cs103822919467497853.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit2-6"><img class="avatar" src="{{ asset('build/images/avatars/cs1008511162926380344.png') }}" alt="avatar1"></div>

                    <!-- 3nd orbit -->
                    <div class="orbit orbit3-1"><img class="avatar" src="{{ asset('build/images/avatars/cs1048486361028912.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit3-2"><img class="avatar" src="{{ asset('build/images/avatars/cs10188651804540743.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit3-3"><img class="avatar" src="{{ asset('build/images/avatars/cs11010345522393046.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit3-4"><img class="avatar" src="{{ asset('build/images/avatars/cs100630750052269087.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit3-5"><img class="avatar" src="{{ asset('build/images/avatars/cs103822919467497853.png') }}" alt="avatar1"></div>
                    <div class="orbit orbit3-6"><img class="avatar" src="{{ asset('build/images/avatars/cs1008511162926380344.png') }}" alt="avatar1"></div>

                    <!-- main planet -->
                    <div class="ring-before"></div>
                    <div class="ring-bigger-before"></div>
                    <div class="planet"><img class="logo-planet" src="{{ asset('build/images/Fiverr_Symbol_Green_RGB.png') }}" alt="planet"></div>
                    <div class="ring-after"></div>
                    <div class="ring-bigger-after"></div>

                </div>

            </div>
        </div>

    </div>

    </div>

    </div>
{% endblock %}
