{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container-fluid fiverbg w-100 gradient-color">
        <div class="row m-5 align-content-center ">
            <div class="col-6 justify-content-center ">
{#                {{ form_start (form) }}#}
                <div class="question1" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                        <div class="p-3 text-center text-white">
                            <h1>
                                Question 1
                            </h1>
                            <p class="text-break px-5 ">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam.
                            </p>
                        </div>
                        <div class=" row text-center justify-content-center text-white check-radio">

                            <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                                {{ form_label(form.choice1) }}#} <h3> Reponse</h3>
                               <div class="w-100 h-100 form-check-input ">
{#                                   {{ form_widget (form.choice1) }}#}
                               </div>
                            </div>

                            <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                                {{ form_label(form.choice2) }}#} <h3> Reponse</h3>
                                <div class="w-100 h-100 form-check-input ">
{#                                    {{ form_widget (form.choice2) }}#}
                                </div>
                            </div>

                            <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                                {{ form_label(form.choice3) }}#}<h3> Reponse</h3>
                                <div class="w-100 h-100 form-check-input checkbox-label ">
{#                                    {{ form_widget (form.choice3) }}#}
                                </div>
                            </div>

                            <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                                {{ form_label(form.choice4) }}#}<h3> Reponse</h3>
                                <div class="w-100 h-100 form-check-input ">
{#                                    {{ form_widget (form.choice4) }}#}
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- Q2 -->
                <div class="question2" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice1) }}#}<h3> Reponse</h3>
                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice2) }}#}<h3> Reponse</h3>
                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice3) }}#}<h3> Reponse</h3>
                            <div class="w-100 h-100 form-check-input checkbox-label ">
{#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice4) }}#}<h3> Reponse</h3>
                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Q3 -->
                <div class="question3" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice1) }}#}<h3> Reponse</h3>
                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice2) }}#}<h3> Reponse</h3>
                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice3) }}#}<h3> Reponse</h3>
                            <div class="w-100 h-100 form-check-input checkbox-label ">
{#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice4) }}#}<h3> Reponse</h3>
                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>input
                    </div>
                </div>
                <!-- Q4 -->
                <div class="question4" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">

                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice2) }}#}
                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice3) }}#}
                            <div class="w-100 h-100 form-check-input checkbox-label ">
{#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
{#                            {{ form_label(form.choice4) }}#}
                            <div class="w-100 h-100 form-check-input ">
{#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ooo Q5 -->
                <div class="question5" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">

                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice2) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice3) }}#}
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                                {#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice4) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Q6 -->
                <div class="question6" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">

                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice2) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice3) }}#}
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                                {#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice4) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Q7 -->
                <div class="question7" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">

                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice2) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice3) }}#}
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                                {#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice4) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Q8 -->
                <div class="question8" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">

                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice2) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice3) }}#}
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                                {#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice4) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Q9 -->
                <div class="question9" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">

                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice2) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice3) }}#}
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                                {#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice4) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Q10 -->
                <div class="question10" id="div-question">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                    <div class="p-3 text-center text-white">
                        <h1>
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">

                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice1) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice2) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice2) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice3) }}#}
                            <div class="w-100 h-100 form-check-input checkbox-label ">
                                {#                                {{ form_widget (form.choice3) }}#}
                            </div>
                        </div>

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {#                            {{ form_label(form.choice4) }}#}
                            <div class="w-100 h-100 form-check-input ">
                                {#                                {{ form_widget (form.choice4) }}#}
                            </div>
                        </div>
                    </div>
                </div>
{#                {{ form_end (form)}}#}
            </div>

            <div class="col-6 p-3">
                <div class="example-wrapper">
                        <!-- orbits -->
                        <div class="orbit orbit-1"><img class="avatar" src="{{ asset('build/cs1048486361028912.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-2"><img class="avatar" src="{{ asset('build/cs10188651804540743.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-3"><img class="avatar" src="{{ asset('build/cs11010345522393046.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-4"><img class="avatar" src="{{ asset('build/cs100630750052269087.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-5"><img class="avatar" src="{{ asset('build/cs103822919467497853.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-6"><img class="avatar" src="{{ asset('build/cs1008511162926380344.png') }}" alt="avatar1"></div>
                        <!-- main planet -->
                        <div class="ring-before"></div>
                        <div class="ring-bigger-before"></div>
                        <div class="planet"><img class="logo-planet" src="{{ asset('build/Fiverr_Symbol_Green_RGB.png') }}" alt="planet"></div>
                        <div class="ring-after"></div>
                        <div class="ring-bigger-after"></div>

                </div>
            </div>
            </div>

        </div>

    </div>
{% endblock %}
