{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}


{#    {% if hasAnswer == false %}#}
{#        <div>#}
{#            <h2 class="text-white">{{ questions.0 }}</h2>#}
{#        </div>#}
{#        <div>#}
{#            <a href="{{ path('user_hasAnswered') }}"><h2 class="text-white">{{ choices.question1.choice1 }}</h2></a>#}
{#            <a href="{{ path('user_hasAnswered') }}"><h2 class="text-white">{{ choices.question1.choice2 }}</h2></a>#}

{#            <a href="{{ path('user_hasAnswered', {user: user.id}) }}">#}
{#        </div>#}
{#    {% else %}#}
{#        <div>#}
{#            <h2 class="text-white">stats des réponce a la question</h2>#}
{#        </div>#}
{#    {% endif %}#}

    <div class="container-fluid fiverbg w-100 gradient-color">
        <div class="row m-5 align-content-center ">
            <div class="col-6 justify-content-center ">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                <form action="">
                    <div class="p-3 text-center text-white">
                        <h1 >
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">{{ questions.9.content }}</p>
                    </div>
                    <div class=" row text-center justify-content-center text-white">

                        {% if user.hasAnswered == false %}
{#                        {% for choice in choices.9 %}#}
                            <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow ">
                                <input type="checkbox"> <p>{{ choices.9.choice1 }}</p> </input>
                            </div>

                            <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow ">
                                <input type="checkbox"> <p>{{ choices.9.choice2 }}</p> </input>
                            </div>
{#                        {% endfor %}#}
                        {% else %}
                            <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow ">
                                <input type="checkbox"> <p>stats des réponce a la question</p> </input>
                            </div>
                        {% endif %}

                    </div>
                    <div class="text-center my-5">
                        <button type="submit" class="btn btn-success shadow rounded-pill">Poursuivre > </button>
                    </div>
                </form>
            </div>

            <div class="col-6">
                <div class="example-wrapper">


                    <!-- clouds -->
                       <div class="container-planet">
                        <!-- stars -->
                        <div class="star star-1"></div>
                        <div class="star star-2"></div>
                        <div class="star star-3"></div>
                        <!-- clouds -->
                        <div class="">
                            <div class="cloud-group-1">
                                <div class="cloud cloud-1"></div>
                                <div class="cloud cloud-2"></div>
                                <div class="cloud cloud-3"></div>
                                <div class="cloud cloud-4"></div>
                                <div class="cloud cloud-5"></div>
                                <div class="cloud cloud-6"></div>
                            </div>
                            <div class="cloud-group-2">
                                <div class="cloud cloud-1"></div>
                                <div class="cloud cloud-2"></div>
                                <div class="cloud cloud-3"></div>
                                <div class="cloud cloud-4"></div>
                                <div class="cloud cloud-5"></div>
                                <div class="cloud cloud-6"></div>
                            </div>
                            <div class="cloud-group-3">
                                <div class="cloud cloud-1"></div>
                                <div class="cloud cloud-2"></div>
                                <div class="cloud cloud-3"></div>
                                <div class="cloud cloud-4"></div>
                                <div class="cloud cloud-5"></div>
                                <div class="cloud cloud-6"></div>
                            </div>
                        </div>
                        <!-- 1st orbit -->
                            <div class="orbit orbit1-1"><img class="avatar" src="{{ asset('build/images/avatars/cs1048486361028912.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit1-2"><img class="avatar" src="{{ asset('build/images/avatars/cs10188651804540743.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit1-3"><img class="avatar" src="{{ asset('build/images/avatars/cs11010345522393046.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit1-4"><img class="avatar" src="{{ asset('build/images/avatars/cs100630750052269087.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit1-5"><img class="avatar" src="{{ asset('build/images/avatars/cs103822919467497853.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit1-6"><img class="avatar" src="{{ asset('build/images/avatars/cs1008511162926380344.png') }}" alt="avatar1"></div>

                           <!-- 2nd orbit -->
                           <div class="orbit orbit2-1"><img class="avatar" src="{{ asset('build/images/avatars/cs1048486361028912.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit2-2"><img class="avatar" src="{{ asset('build/images/avatars/cs10188651804540743.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit2-3"><img class="avatar" src="{{ asset('build/images/avatars/cs11010345522393046.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit2-4"><img class="avatar" src="{{ asset('build/images/avatars/cs100630750052269087.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit2-5"><img class="avatar" src="{{ asset('build/images/avatars/cs103822919467497853.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit2-6"><img class="avatar" src="{{ asset('build/images/avatars/cs1008511162926380344.png') }}" alt="avatar1"></div>

                           <!-- 3nd orbit -->
                           <div class="orbit orbit3-1"><img class="avatar" src="{{ asset('build/images/avatars/cs1048486361028912.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit3-2"><img class="avatar" src="{{ asset('build/images/avatars/cs10188651804540743.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit3-3"><img class="avatar" src="{{ asset('build/images/avatars/cs11010345522393046.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit3-4"><img class="avatar" src="{{ asset('build/images/avatars/cs100630750052269087.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit3-5"><img class="avatar" src="{{ asset('build/images/avatars/cs103822919467497853.png') }}" alt="avatar1"></div>
                           <div class="orbit orbit3-6"><img class="avatar" src="{{ asset('build/images/avatars/cs1008511162926380344.png') }}" alt="avatar1"></div>

                           <!-- sub planet -->
                        <!-- main planet -->
                        <div class="ring-before"></div>
                        <div class="ring-bigger-before"></div>
                        <div class="planet"><img class="logo-planet" src="{{ asset('build/images/Fiverr_Symbol_Green_RGB.png') }}" alt="planet"></div>
                        <div class="ring-after"></div>
                        <div class="ring-bigger-after"></div>
{#                        <div class="sub-planet"></div>#}
                    </div>


                </div>


            </div>
            </div>

        </div>

    </div>
{% endblock %}
