{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container-fluid fiverbg w-100 gradient-color">
        <div class="row m-5 align-content-center ">
            <div class="col-6 justify-content-center ">
                    <div>
                        <img class="image-fluid w-100" src="{{ asset('images/robot1.png')}}" alt="">
                    </div>
                <form action="">
                    {{ form_start (form) }}
                    <div class="p-3 text-center text-white">

                        <h1 >
                            Question 1
                        </h1>
                        <p class="text-break px-5 ">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Ut enim ad minim veniam.
                        </p>
                    </div>
                    <div class=" row text-center justify-content-center text-white check-radio">

                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow checkbox-radio">
                            {{ form_widget (form.choice1) }}
                        </div>

                        <div class="col-md-5 button bg-danger mr-2  mb-2 pt-2 shadow" >
                            {{ form_widget (form.choice2) }}
                        </div>
                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow ">
                            {{ form_widget (form.choice3) }}
                        </div>
                        <div class="col-md-5 button w-50 bg-danger mr-2 mb-2 pt-2 shadow ">
                            {{ form_widget (form.choice4) }}
                        </div>
                    </div>
                    <div class="text-center my-5">
                        <button type="submit" class="btn btn-success shadow rounded-pill">Poursuivre > </button>
                    </div>
                    {{ form_end (form)}}
                </form>
            </div>

            <div class="col-6 p-3">
                <div class="example-wrapper">
                    <!-- clouds -->
{#                    <div class="container">#}
                        <!-- stars -->
{#                        <div class="star star-1"></div>#}
{#                        <div class="star star-2"></div>#}
{#                        <div class="star star-3"></div>#}
                        <!-- clouds -->

                        <!-- orbits -->
                        <div class="orbit orbit-1"><img class="avatar" src="{{ asset('build/cs1048486361028912.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-2"><img class="avatar" src="{{ asset('build/cs10188651804540743.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-3"><img class="avatar" src="{{ asset('build/cs11010345522393046.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-4"><img class="avatar" src="{{ asset('build/cs100630750052269087.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-5"><img class="avatar" src="{{ asset('build/cs103822919467497853.png') }}" alt="avatar1"></div>
                        <div class="orbit orbit-6"><img class="avatar" src="{{ asset('build/cs1008511162926380344.png') }}" alt="avatar1"></div>
                        <!-- main planet -->
                        <div class="ring-before"></div>
                        <div class="ring-bigger-before"></div>
                        <div class="planet"><img class="logo-planet" src="{{ asset('build/Fiverr_Symbol_Green_RGB.png') }}" alt="planet"></div>
                        <div class="ring-after"></div>
                        <div class="ring-bigger-after"></div>
                        <!-- sub planet -->
{#                        <div class="sub-planet"></div>#}
{#                    </div>#}
                </div>
            </div>
            </div>

        </div>

    </div>
{% endblock %}
